In [2]:
import pandas as pd
import random
import numpy as np

In [5]:
data = pd.read_csv('census.csv')

In [7]:
data.shape

(32561, 15)

In [59]:
def amosntragem_aleatoria_simples(data, amostra, random=None):
    return data.sample(n=amostra, random_state=random) # Seleciona n registros da tabela random para cada execução, random_state para não trocar os valores

In [69]:
data_amostra_simples = amosntragem_aleatoria_simples(data, 200, 1)

In [71]:
data_amostra_simples.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
9646,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
709,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K
7385,25,Private,102476,Bachelors,13,Never-married,Farming-fishing,Own-child,White,Male,27828,0,50,United-States,>50K
16671,33,Private,511517,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
21932,36,Private,292570,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K