In [2]:
import pandas as pd
import random
import numpy as np

In [5]:
data = pd.read_csv('census.csv')

In [7]:
data.shape

(32561, 15)

In [13]:
data.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [39]:
def amosntragem_aleatoria_simples(data, amostra):
    return data.sample(n=amostra, random_state=1) # Seleciona 100 registros da tabela random para cada execução, random_state para não trocar os valores

In [41]:
data_amostra_simples = amosntragem_aleatoria_simples(data, 200)

In [45]:
data_amostra_simples.shape

(200, 15)